*{
   box-sizing: border-box;
}
h2{
   color: red;
}

.card{
   background-color: red;
   border-radius: 10px;
}
.card:hover{
   transition: 0.4s;
   transform: scale(1.03);
}
.container{
   width: 100%;
   background: radial-gradient(circle at 100%, #333, #324 20%, #eee 75%, #324 75%);
}
.containerRealTime{
   background: radial-gradient(circle at 70%, #333, rgba(51, 34, 68, 0.8) 10%, #eee 95%, #324 75%);
}
