* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
}
body {
   background-color: #f7f9fc;
   color: #333;
   padding: 20px;
}
h1, h2, h3, h5 {
   color: #050202;
   text-align: center;
   margin-bottom: 20px;
}

.card {
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   transition: transform 0.5s;
}
.card:hover {
   transform: scale(1.03);
}

.card-body {
   padding: 10px;
}

.card-title {
   color: #f3e9e9;
   margin-bottom: 15px;
}

.card ul {
   list-style: none;
   padding: 0;
}

.card li {
   margin-bottom: 10px;
}

 .card img {
   max-width: 100%;
   border-radius: 5px;
} 
.container {
   position: relative;
   width: 100%;
   height: 100vh; /* Ajusta la altura según necesites */
   background-size: cover;
   background-position: center;
}

.container::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("https://i.ibb.co/wCCvhYJ/disposicion-carros-compra-viernes-negro-espacio-copia.jpg");
   background-size: cover;
   background-position: center;
   filter: blur(8px); /* Ajusta el nivel de desenfoque */
   opacity: 0.7; /* Ajusta la opacidad para reducir el impacto del desenfoque */
   z-index: -1; /* Coloca la imagen desenfocada detrás del contenido */
}
.containerRealTime{
   background: radial-gradient(circle at 85%, #333, rgba(51, 34, 68, 0.8) 10%, #eee 95%, #324 75%);
}
