<nav class="navbar navbar-expand-lg bg-light ">
  <div class="container-fluid">
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link fw-bold" aria-current="page"  href="/">Home</a>
        </li>
         {{#if login}}
        <li class="nav-item">
          <a class="nav-link fw-bold " href="/profile">Perfil</a>
        </li>
       {{!--  <li class="nav-item">
          <a class="nav-link fw-bold" href="/productos">Ir a productos</a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/api/sessions/logout" id="logoutBtn">Cerrar Sesion</a>
        </li>
         {{else}} 
         <li class="nav-item">
          <a class="nav-link fw-bold" href="/register">Registrate</a>
        </li>
         <li class="nav-item">
          <a class="nav-link fw-bold" href="/login">Iniciar Sesion</a>
        </li>
          {{/if}} 
      </ul>

    </div>
  </div>
</nav>


    <script>
 document.getElementById('logoutBtn').addEventListener('click', function() {
    if (confirm('¿Estás seguro de que deseas cerrar sesión?')) {
        // Si el usuario confirma el cierre de sesión
        fetch('http://localhost:8080/api/sessions/logout', {
            method: 'POST', // o 'GET' dependiendo del método que uses
        })
        .then(response => {
            window.location.href = '/'; //
        })
        .catch(error => {
            console.error('Error al cerrar sesión:', error);
        });
    } 
});

  </script>