<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"  href="/">Home</a>
        </li>
        {{#if login}}
        <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/productos">Ir a productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/sessions/logout" id="logoutBtn">Cerrar Sesion</a>
        </li>
        {{else}}
         <li class="nav-item">
          <a class="nav-link" href="/register">Registrate</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar Sesion</a>
        </li>
         {{/if}}
      </ul>

    </div>
  </div>
</nav>




{{!-- <div class="container">
    <ul class="navbar navbar-light navbar">
      <li class="nav-item">
        <a class="btn btn-primary m-3" href="/">Home Page</a>
      </li>
      {{#if login}}
        <li class="nav-item">
          <a class="btn btn-primary m-3" href="/profile">Perfil</a>
        </li>
        <li>
          <a class="btn btn-primary" href="/productos">Ir a productos</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary m-3" href="/api/sessions/logout" id="logoutBtn">Cerrar Sesion</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="btn btn-primary m-3" href="/register">Registro</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary m-3" href="/login">Login</a>
        </li>
      {{/if}}
    </ul>
  </div>
 --}}











    <script>
 document.getElementById('logoutButton').addEventListener('click', function() {
    // Mostrar ventana de confirmación
    if (confirm('¿Estás seguro de que deseas cerrar sesión?')) {
        // Si el usuario confirma el cierre de sesión
        fetch('http://localhost:8080/api/sessions/logout', {
            method: 'POST', // o 'GET' dependiendo del método que uses
        })
        .then(response => {
            window.location.href = '/login'; // Redirige a la página de inicio de sesión
        })
        .catch(error => {
            // Manejar errores, como problemas de conexión, etc.
            console.error('Error al cerrar sesión:', error);
        });
    } 
});

  </script>